<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="android.permission.INTERNET" />
<application
        android:allowBackup="true"
        android:icon="@drawable/logo_wahidiyah_full"
        android:label="Wahidiyah Miladiyyah"
        android:supportsRtl="true"
        android:theme="@style/Theme.WahidiyahMiladiyyah">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <receiver
            android:name=".core.notification.AgendaReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".core.notification.AgendaBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

            <receiver
            android:name=".core.notification.PrayerNotificationReceiver"
            android:exported="false" />

        <receiver
            android:name=".core.notification.PrayerBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.notification.DanaBoxNotificationReceiver"
            android:exported="false" />

        <receiver
            android:name=".core.notification.DanaBoxBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.notification.TasyafuanNotificationReceiver"
            android:exported="false" />

        <receiver
            android:name=".core.notification.TasyafuanBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
